html, body {
  width:  100%;
  height: 100%;
  margin: 0;
  text-align: center;
  font: 15px 'Lucida Console', Monaco, monospace;
}

img {
  image-rendering: pixelated;
}

canvas {
  image-rendering: pixelated;
  vertical-align: bottom;
}

.liquid-child {
  height: 100%;
  overflow: scroll;
}

.liquid-container-full-screen {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.play--canvas {
  width: 100%;
  height: 100%;
}

.play--scores {
  position: absolute;
  color: #fff;
  font-size: 15px;
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
}

.play--scores__pizza-count {
  float: left;
}

.play--scores__hi-score {
  float: right;
}

.play--menu-button__link {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.play--menu-button__image {
  width: 42px;
  height: 45px;
}

.game-menu {
  background:rgba(0,0,0,0.4);
  height: 100%;
  padding: 50px 0;
}

.game-menu--options {
  color: #fff;
  font-size: 40px;
  list-style: none;
  padding: 0;
  margin: 0;

  a {
    text-decoration: none;
  }
}

.game-menu--button {
  width: 100%;
  color: #fff;
  text-decoration: none;
  font-size: 50px;
  text-align: center;

  &:active, &:hover {
    cursor: pointer;
    background-color: rgba(0, 153, 255, 0.5);
    text-decoration: none;
  }
}

.game-menu--header {
  color: #fff;
}

.hi-scores-table {
  color: #fff;
  font-size: 20px;
  list-style: none;
  text-align: left;
  padding: 0 0 0 15px;
  margin: 0;
  width: 100%;
}

.enter-initials--text-input__wrapper {
  padding: 0 25px 0 25px;
}

.enter-initials--text-input {
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  font: 100px 'Lucida Console', Monaco, monospace;
  background: none;
  border: none;
  border-bottom: 2px solid #fff;
  color: #fff;
}

.index--container {
  padding: 50px 0;
}

.index--menu {
  height: 100%;
  width: 100%;
}

.index--menu__play {
  font-size: 100px;
  color: #fff;
  text-decoration: none;
  animation: index--menu__play__colors--keyframe 1s infinite;

  a {
    color: inherit;
    text-decoration: none;
  }

  &:active, &:hover {
    cursor: pointer;
    background-color: rgba(0, 153, 255, 0.5);
  }
}

// http://codepen.io/beben-koben/pen/gfuvc
@keyframes index--menu__play__colors--keyframe {
  0% {color: #ff0000;}
  10% {color: #ff8000;}
  20% {color: #ffff00;}
  30% {color: #80ff00;}
  40% {color: #00ff00;}
  50% {color: #00ff80;}
  60% {color: #00ffff;}
  70% {color: #0080ff;}
  80% {color: #0000ff;}
  90% {color: #8000ff;}
  100% {color: #ff0080;}
}

.index--title-text {
  font: 60px 'Lucida Console', Monaco, monospace;
  color: #fff;
  text-align: center;
}
