html, body {
  margin: 0;
  text-align: center;
  font: 15px 'Lucida Console', Monaco, monospace;
  overflow: hidden;
}

body {
  overflow: auto;
}

img {
  image-rendering: pixelated;
}

canvas {
  image-rendering: pixelated;
  vertical-align: bottom;
}

.liquid-container--full-screen {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.liquid-container--full-screen .liquid-child {
  height: 100%;
  overflow: scroll;
}

.game__canvas {
  width: 100%;
  height: 100%;
}

.game__scores {
  position: absolute;
  color: #fff;
  font-size: 15px;
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
}

.game__scores__pizza-count {
  float: left;
}

.game__scores__hi-score {
  float: right;
}

.game__menu-button__link {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.game__menu-button__image {
  width: 42px;
  height: 45px;
  padding-top: 15px;
}

.game-menu {
  background:rgba(0,0,0,0.4);
  height: 100%;
  padding: 50px 0 0 0;
}

.game-menu__options {
  color: #fff;
  font-size: 40px;
  list-style: none;
  padding: 0;
  margin: 0;

  a {
    text-decoration: none;
  }
}

.game-menu__button {
  width: 100%;
  color: #fff;
  text-decoration: none;
  font-size: 50px;
  text-align: center;

  &:active, &:hover {
    cursor: pointer;
    background-color: rgba(0, 153, 255, 0.5);
    text-decoration: none;
  }
}

.game-menu__header {
  color: #fff;
}

.hi-scores-table {
  margin: auto;
  color: #fff;
  font-size: 20px;
  list-style: none;
  text-align: left;
  padding: 0 0 0 15px;

  td {
    min-width: 50px;
  }
}

.enter-initials__text-input__wrapper {
  padding: 0 25px 0 25px;
}

.enter-initials__text-input {
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  font: 100px 'Lucida Console', Monaco, monospace;
  background: none;
  border: none;
  border-bottom: 2px solid #fff;
  color: #fff;
}

.index__container {
  padding: 50px 0;
}

.index__menu__play {
  font-size: 100px;
  color: #fff;
  text-decoration: none;
  animation: index__play__colors__keyframe 1s infinite;

  a {
    color: inherit;
    text-decoration: none;
  }

  &:active, &:hover {
    cursor: pointer;
    background-color: rgba(0, 153, 255, 0.5);
  }
}

// http://codepen.io/beben-koben/pen/gfuvc
@keyframes index__play__colors__keyframe {
  0% {color: #ff0000;}
  10% {color: #ff8000;}
  20% {color: #ffff00;}
  30% {color: #80ff00;}
  40% {color: #00ff00;}
  50% {color: #00ff80;}
  60% {color: #00ffff;}
  70% {color: #0080ff;}
  80% {color: #0000ff;}
  90% {color: #8000ff;}
  100% {color: #ff0080;}
}

.index__title-text {
  font: 60px 'Lucida Console', Monaco, monospace;
  color: #fff;
  text-align: center;
}
