<?xml version='1.0' encoding='utf-8'?>
<widget id="com.croissantthepizzacat.www" version="0.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Croissant</name>
    <description>
        Help Croissant collect pizza and avoid naps by jumping over her cat bed!
    </description>
    <author email="matt@mtmckenna.com" href="https://www.mtmckenna.com">
        Matt McKenna
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <preference name="DisallowOverscroll" value="true" />
    <preference name="Fullscreen" value="true" />
    <preference name="Orientation" value="all" />

    <icon src="res/icon.png" />
    <platform name="ios">
        <icon height="57" src="res/ios/icon.png" width="57" />
        <icon height="72" src="res/ios/icon-72.png" width="72" />
        <splash height="960" src="res/screen/ios/Default@2x.png" width="640" />
        <splash height="1024" src="res/screen/ios/Default-Portrait.png" width="768" />
        <splash height="2048" src="res/screen/ios/Default-Portrait@2x.png" width="1536" />
        <splash height="768" src="res/screen/ios/Default-Landscape.png" width="1024" />
        <splash height="1536" src="res/screen/ios/Default-Landscape@2x.png" width="2048" />
        <splash height="1136" src="res/screen/ios/Default-568h@2x~iphone.png" width="640" />
        <splash height="1334" src="res/screen/ios/Default-667h@2x.png" width="750" />
        <splash height="2208" src="res/screen/ios/Default-Portrait-736h@3x.png" width="1242" />
        <splash height="1242" src="res/screen/ios/Default-Landscape-736h@3x.png" width="2208" />
    </platform>

    <platform name="android">
      <icon src="res/android/drawable-mdpi/appicon.png" density="mdpi" />
      <icon src="res/android/drawable-hdpi/appicon.png" density="hdpi" />
      <icon src="res/android/drawable-xhdpi/appicon.png" density="xhdpi" />

      <splash src="res/android/default.png"/>
      <splash src="res/android/res-notlong-land-hdpi/default.png" density="land-hdpi" />
      <splash src="res/android/res-notlong-land-ldpi/default.png" density="land-ldpi" />
      <splash src="res/android/res-notlong-land-mdpi/default.png" density="land-mdpi" />
      <splash src="res/android/res-notlong-land-xhdpi/default.png" density="land-xhdpi" />
      <splash src="res/android/res-notlong-land-xxhdpi/default.png" density="land-xxhdpi" />
      <splash src="res/android/res-notlong-land-xxxhdpi/default.png" density="land-xxxhdpi" />
      <splash src="res/android/res-notlong-port-hdpi/default.png" density="port-hdpi" />
      <splash src="res/android/res-notlong-port-ldpi/default.png" density="port-ldpi" />
      <splash src="res/android/res-notlong-port-mdpi/default.png" density="port-mdpi" />
      <splash src="res/android/res-notlong-port-xhdpi/default.png" density="port-xhdpi" />
      <splash src="res/android/res-notlong-port-xxhdpi/default.png" density="port-xxhdpi" />
      <splash src="res/android/res-notlong-port-xxxhdpi/default.png" density="port-xxxhdpi" />
    </platform>

    <preference name="SplashScreen" value="screen" />
    <preference name="xwalkVersion" value="15+" />
    <preference name="xwalkCommandLine" value="--disable-pull-to-refresh-effect" />
    <preference name="xwalkMode" value="embedded" />
    <preference name="xwalkMultipleApk" value="true" />
</widget>
