{{game-canvas level=model}}
{{outlet 'game-menu'}}
<div class='play--menu-button'>
{{#link-to 'play.menu'}}<img class='play--menu-button__image' src='assets/images/croissant-icon.png' />{{/link-to}}
</div>
