<ul class='game-menu__options'>
  <li>
    {{#link-to 'play.menu.index'}}
    <div class='game-menu__button'>BACK</div>
    {{/link-to}}
  </li>
</ul>

<span class='game-menu__header'>LATEST HI SCORES</span>

<table class='hi-scores-table'>
  {{#each model as |hiScore|}}
  <tr>
    <td>{{hiScore.initials}}</td>
    <td>{{hiScore.score}}</td>
    <td>{{moment-from-now hiScore.createdAt}}</td>
  </tr>
  {{/each}}
</table>
