<div class='index--container'>
  <div class='index--title-text'>
    Croissant<br />the<br />Pizza Cat
  </div>

  <div class='index--menu'>
    <div class='index--menu__play'>
      {{#link-to 'play' 1}}PLAY!{{/link-to}}
      </div>
  </div>
</div>

