<div class='index__container'>
  <div class='index__title-text'>
    Croissant<br />the<br />Pizza Cat
  </div>

  <div class='index__menu'>
    <div class='index__menu__play'>
      {{#link-to 'play' 1}}PLAY!{{/link-to}}
      </div>
  </div>
</div>

