<ul class='game-menu__options'>
  <li>
    {{#link-to 'play.menu.index'}}
    <div class='game-menu__button'>BACK</div>
    {{/link-to}}
  </li>
</ul>

<span class='game-menu__header'>DOWNLOAD APPS</span>

<ul class="app-download-links">
  <li><a href="https://s3.amazonaws.com/croissant-desktop-downloads/croissant-the-pizza-cat-osx-0.1.0.zip">Mac OS X</a></li>
  {{! <li><a href="">Windows</a></li> }}
  <li><a href="https://itunes.apple.com/us/app/croissant-the-pizza-cat/id1071005243?mt=8">iOS</a></li>
  <li><a href="https://play.google.com/store/apps/details?id=com.croissantthepizzacat.www&hl=en">Android</a></li>
</ul>
