<ul class='game-menu--options'>
  <li>
    <a {{action 'goBack'}}>
      <div class='game-menu--button js-go-back'>BACK</div>
    </a>
  </li>
</ul>

<span class='game-menu--header'>ENTER INITIALS</span>

<div class='enter-initials--text-input__wrapper'>
  {{input value=initials maxlength=3 class='enter-initials--text-input' placeholder='MJJ' }}
</div>
