<ul class='game-menu__options'>
  <li>
    <a {{action 'goBack'}}>
      <div class='game-menu__button js-go-back'>BACK</div>
    </a>
  </li>
</ul>

<span class='game-menu__header'>ENTER INITIALS</span>

<div class='enter-initials__text-input__wrapper'>
  {{input value=initials maxlength=3 class='enter-initials__text-input' placeholder='MJJ' }}
</div>
