<div class='game__scores'>
  <div class='game__scores__pizza-count'>{{ pizzaCount }} Pizzas</div>
  <div class='game__scores__hi-score'>Hi Score: {{ hiScore }}</div>
</div>

<canvas class='js-game game__canvas'></canvas>
