<div class='play--scores'>
  <div class='play--scores__pizza-count'>{{ pizzaCount }} Pizzas</div>
  <div class='play--scores__hi-score'>Hi Score: {{ hiScore }}</div>
</div>

<canvas class='js-game play--canvas'></canvas>
