<ul class='game-menu--options'>
  <li>
    {{#link-to 'play'}}
    <div class='game-menu--button'>GO BACK!</div>
    {{/link-to}}
  </li>
  <li>
    <div class='game-menu--button' {{action 'toggleAudio'}}>{{audioText}}</div>
  </li>
  <li>
    <div class='game-menu--button' {{action 'nextLevel'}}>NEXT LEVEL!</div>
  </li>
  <li>
    <div class='game-menu--button' {{action 'previousLevel'}}>PREVIOUS LEVEL!</div>
  </li>
  <li>
    {{#link-to 'index'}}
    <div class='game-menu--button'>WHAT?!</div>
    {{/link-to}}
  </li>
</ul>

