<ul class='game-menu--options'>
  <li>
    {{#link-to 'play'}}
    <div class='game-menu--button'>PLAY</div>
    {{/link-to}}
  </li>
  <li>
    <div class='game-menu--button' {{action 'toggleAudio'}}>{{audioText}}</div>
  </li>
  <li>
    {{#link-to 'play.menu.hi-scores'}}
    <div class='game-menu--button'>HI SCORES</div>
    {{/link-to}}
  </li>
  <li>
    {{#link-to 'play.menu.initials' (query-params backRoute='play.menu')}}
    <div class='game-menu--button'>INITIALS</div>
    {{/link-to}}
  </li>
  <li>
    {{#link-to 'index'}}
    <div class='game-menu--button'>HOME</div>
    {{/link-to}}
  </li>
</ul>

