<ul class='game-menu--options'>
  <li>
    {{#link-to 'play'}}
    <div class='game-menu--button'>GO BACK!</div>
    {{/link-to}}
  </li>
  <li>
    <div class='game-menu--button' {{action 'toggleAudio'}}>AUDIO OFF!</div>
  </li>
  <li>
    <div class='game-menu--button' {{action 'toggleAudio'}}>NEXT LEVEL!</div>
  </li>
  <li>
    <div class='game-menu--button' {{action 'toggleAudio'}}>PREVIOUS LEVEL!</div>
  </li>
  <li>
    <div class='game-menu--button' {{action 'toggleAudio'}}>WHAT?!</div>
  </li>
</ul>

